p {
    color: #495057;
}

.texto-color {
    color: #0d6efd;
}

#parrafo-unico {
    color: #d63384;
}

img {
    border-radius: 50%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    border: 1px solid #020202;
}